*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color:black;
}
nav{
    background-color: rgba(255, 255, 255, 0.581);
    backdrop-filter: blur(25px) saturation(180%);
    border: 0.3px solid white;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
}
.nav-list{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}
.nav-li{
    display: inline;
    margin-right: 50px;
}

.bgv{
    width: 100%;
}

.j{
    text-align: center;
    padding: 40px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
    background-clip: text;
    color: transparent;
}

section{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
}

.hero{
    text-align: center;
    padding: 0px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
}