*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: blue;
    width: 55%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}
.nav-list{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}
.nav-li{
    display: inline;
}