*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    scroll-behavior: smooth;
}


nav{
    background-color: rgba(255, 255, 255, 0.581);
    backdrop-filter: blur(25px) saturation(180%);
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
}
.nav-list{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}
.nav-li{
    display: inline;
    margin-right: 50px;
}

.bgv{
    width: 100%;
    margin: 0px;
}

.j{
    text-align: center;
    padding: 40px;
    margin: 0px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
}

section{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
}

.hero{
    text-align: center;
    padding: 0px;
    background-image: linear-gradient(to right top, #ce1ee7, #bb1ce7, #a61ce7, #8f1ee7, #7520e7);
}

.dpdiv{
    height: 200px;
    width:200px;
    margin: 10px auto;
    border-radius: 50%;
}

.dp{
     height: 200px;
    width:180px;
    border-radius: 50%;
    border: 2px solid white;
}

.info{
    text-align: center;
}